footer {
  background-color: #ffffff;
  border-top:  1px solid #eaeaea;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;

}
