<div class="container">
  <h1 class="title">Competitions</h1>

  <div class="mb-10 ">
    <button
      (click)="addCompetition()"
      class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300"
    >
      Add competition
    </button>
  </div>
  <table class="competition-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Release Place</th>
      <th>Pigeon Count</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let competition of competitions">
      <td>{{ competition.name }}</td>
      <td>{{ competition.releasePlace }}</td>
      <td>{{ competition.pigeonCount }}</td>
      <td>
        <button class="action-btn view" (click)="viewCompetition(competition.id!)">View</button>
        <button class="action-btn update" (click)="updateCompetition(competition.id!)">Update</button>
        <button class="action-btn delete" (click)="deleteCompetition(competition.id!)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
