<!--<div class="container mx-auto px-4">-->
<!--  <h2 class="text-2xl font-bold mb-4">Colombier Details</h2>-->

<!--  <div *ngIf="colombier">-->
<!--    <p><strong>Name:</strong> {{ colombier.name }}</p>-->
<!--    <p><strong>Location:</strong> {{ colombier.location }}</p>-->
<!--    <p><strong>Latitude:</strong> {{ colombier.latitude }}</p>-->
<!--    <p><strong>Longitude:</strong> {{ colombier.longitude }}</p>-->
<!--  </div>-->
<!--  <div *ngIf="!colombier" class="text-gray-600">-->
<!--    Loading colombier details...-->
<!--  </div>-->
<!--</div>-->
